.video-call {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-color: #000000;
    display: flex;
    top: 5px !important;
}
.webview.video-call{
    position: static;
    height: 100vh;
}
.my-screen {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}
.error span:first-child{
    color: red;
    user-select: text;
}
.other-screen {
    position: absolute;
    top: 20px;
    object-fit: cover;
    right: 20px;
    overflow: hidden;
    border-radius: 10px;
    width: 110px;
    height: 160px;

}

.end-icon {
    width: 60px;
    height: 52px;
    display: flex;
    position: absolute;
    bottom: 19px;
    flex-direction: column;
    margin: 0 auto;
    z-index: 9;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: flex-start;
}

.end-icon svg {
    width: 25px;
    height: 25px;
}
.end-icon span{
    color: #FF5F61;
    font-family: "SF-Pro-Rounded-Light";
    font-size: 14px;
    margin-top: 8px;
}
.toggle-mic{
    position: absolute;
    bottom: 46px;
    z-index: 9;
    left: 50px;
}
.toggle-vid{
    position: absolute;
    bottom: 46px;
    z-index: 9;
    right: 41px;
}
.call-element {
    position: fixed;
    top: 30px;
    animation-name: call;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    right: 0;
    left: 0;
    border-radius: 12px;
    z-index: 9999;
    margin: 0 auto;
    width: 400px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    justify-content: flex-start;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    background-color: #f7f7f7;
}

@keyframes call {
    0% {
        top: -200px
    }

    100% {
        top: 30px
    }

}

.call-element img {
    width: 40px;
    height: 40px;
    border-radius: 11%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.call-s {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    flex-direction: column;
    color: #404040;
    letter-spacing: 0.05em;
    width: 63%;
    font-family: "SF-PRO-Rounded_light";
}

.incomin {
    font-size: 10px;
    font-family: "SF-PRO-Rounded_light";
    color: #6b6b6b;
}
.call-status{
    POSITION: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 14px;
    top: 400px;
    font-family: "SF-Pro-Rounded-Light";
    color: #8D8D8D;
    
}
.call-status span{
    font-size: 14px;
    font-family: "SF-Pro-Rounded-Light";
    color: #8D8D8D;
    display: flex;
    margin-top: 8px;
}
.call-ss {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #404040;
    font-size: 14px;
    font-family: "SF-Pro-Rounded";
}

.call-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.call-rec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #64FF5F;
}

.call-dec {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #FF5F61;
}

.video-call {
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.remote-stream {
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.hgg {
    position: absolute;
    border: #388CFF 1px solid;
    height: 200px !important;
    width: 200px !important;
    top: 140px;
    left: 115px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    font-size: 60px;
}
.caller-name{
    color: #D3D3D3;
    display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    font-family: "SF-Pro-Rounded";
    font-size: 20px;
    margin: 0 auto;
    top: 355px;
    justify-content: center;
}
#remote-stream {
    object-fit: cover;
}
.add-caller-icon{
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 15px;
    display: flex;
    width: 100px;
    height: 150px;
}
.add-caller-icon video{
    width: 100px;
    height: 150px;
}
.cancel-call-icon{
display: flex;
position: absolute;
z-index: 9;
left: 20px;
top: 15px;
}
.active-mic-svg svg g g .vidIcon_svg__line-path, .active-mic-svg svg g path[data-name="Line 903"]{
    display: none;
}