.swiper{
    height: 100% !important;
}
.swiper-slide-active{
    opacity: 1 !important;
}
.swiper-slide{
    opacity: 1;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  border-radius: 15px;
  position: relative;
}
.swiper-slide svg{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
}
.swiper-slide.swiper-slide-prev, .swiper-slide.swiper-slide-next{
opacity: 1;
}
.swiper-wrapper{
    align-items: center;
}
.swiper-coverflow{
        overflow: visible !important;}
.product-container{
    margin-top: 20px;
   
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 369px;
    overflow: hidden;
    display: flex;
}
.blured-background{
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-image: url("../public/images/Kids_BannerInteriorHalloween_2609.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 369px;
    overflow: hidden;
    display: flex;
}
.product-container-slider{
    width: 200px;
    height: 290px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
    position: relative;
    transition: 0.3s;
}
/* .swiper-slide{
    transition: height 0.3s !important;;
} */
.avatar-slider .swiper-slide{
    transition: width 0.3s, height 0.3s !important;
}
.top-slider-enable{
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product-container-slider.selected-color, .top-slider.active-sl~.product-photos .product-container-slider{
    filter: none;
    width: 170px;
    height: 246px;

}
.product-photos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    width: 100%;
   min-height: 306px;
   overflow: hidden;
   max-height: 306px;
}
.product-photos-slider{
    width: 100% !important;
    height: 35px;
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: center;
    transform: translateX(10px) translateY(-13px);
    z-index: 10;
    max-width: 175px;
    position: absolute;
    top:284px;
    left: 0px;
    right: 0px;
    margin: none;
}
.product-photos-slider{
    width: auto;
    height: 35px;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
}
.image-avatar{
    overflow: visible;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;

}
.slider-point-item{
    border-radius: 50%;
    position: relative;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
    margin-left: 2px;
}
.slider-point-item.w-6{
    width: 6px;
    height: 6px;
    background: linear-gradient(to bottom, #F53C3C 0%, #FF9696 100%);
    }
.slider-point-item.w-4{
    width: 4px;
    height: 4px;
}
.slider-point-item.w-2{
    width: 2px;
    height: 2px;
}
.slider-point-item svg{
    position: absolute;
    z-index: 8;
    top: 0px;
    left: 0px;
}
.product-photos-slider .swiper-wrapper{
    align-items: center;
    display: flex;
}
.w-35{
 width: 20px !important;
 
 height: 20px !important;
}
.w-30{
    
    width: 15px !important;
    height: 15px !important;
}
.w-25{
    
    width: 12px !important;
    height: 12px !important;
}
.w-20{
    
    width: 10px !important;
    height: 10px !important;
}
.w-15{
    
    width: 8px !important;
    height: 8px !important;
}
.product-container-slider.selected-color~.product-photos-slider{
    transform: translateX(0px) translateY(0px);
    top:260px;
    margin: 0 auto;
    
}
.product-container-slider.selected-color~.product-photos-slider .w-35{
   width: 35px !important;
   
   height: 35px !important;
    
}

.product-container-slider.selected-color~.product-photos-slider .w-30{
    width: 30px !important;
    
    height: 30px !important;
}
.product-container-slider.selected-color~.product-photos-slider .w-25{
    width: 25px !important;
    
    height: 25px !important;
}
.product-container-slider.selected-color~.product-photos-slider .w-20{
    width: 20px !important;
    
    height: 20px !important;
}
.product-container-slider.selected-color~.product-photos-slider .w-15{
    width: 15px !important;
   
   height: 15px !important;
}
.image-avatar svg{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    overflow: visible;
}
.image-avatar .avatar-text-element{
    position: absolute;
    top: -16px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #0048AC;
    font-family: 'quicksand-med';
    font-size: 12px;
    display: none;
    align-items: center;
    justify-content: center;
}
.product-container-slider.selected-color~.product-photos-slider .image-avatar .avatar-text-element{
display: flex;
}
.product-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 17.5px;
    padding-right: 15px;
    position: absolute;
    align-items: center;
    left: 0px;
    bottom: 7px;
}
.price-label{
    display: flex;
    align-items: baseline;
}
.old-price{
    position: relative;
    font-size: 12px;
    font-family: 'quicksand-light';
    color:#3C3C3C;
}
.old-price svg{
    right: -1px;
    width: 100%;
    bottom: 9px;
    position: absolute;
}
.new-price{
    display: flex;
    font-family: 'quicksand-bold';
    font-size: 12px;
    color:#3C3C3C;
    margin-left: 2px;

}
.currency-label{
    font-size: 10px;
    font-family: 'quicksand-light';
    color:#3C3C3C;
    display: flex;
    margin-left: 2px;
}
.buy-button{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #414141;
    cursor: pointer;
}
.buy-button span{
    display: flex;
    color: #414141;
    font-size: 10px;
    font-family: 'quicksand-light';
    align-items: flex-start;
    padding-top: 1px;
}
.buy-button svg{
    margin-left: 8px;
}
.product-body{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    z-index: 0;
}
.prouct-details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2px;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'quicksand-med';
    font-size: 10px;
    color: #5D5D5D;
}
.product-category-icon{
    display: flex;
    align-items: center;
    margin-left: 2px;
}
.product-details-text{
    display: block;
    margin-left: 3px;
    max-width: 151px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3C3C3C;
    font-family: 'quicksand';
    font-size: 10px;
}

.inset-shadow-img{
    position: absolute;
    top: 0px;
    border-radius: 15px;
    left: 0px;
    z-index: 6;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 3px 6px hsla(0, 0%, 100%, 0.5);
}
.shadow-inset-avatar{
    position: absolute;
    top: 0px;
    z-index: 5;
    left: 0px;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 4px 6px hsla(0, 0%, 100%, 0.5);
    border-radius: 50%;
}
svg{
    overflow: visible;
}
.swiper-3d .swiper-slide-shadow {
    background: rgba(0,0,0,.15);
    border-radius: 15px;
}
.myswiper-avatar .swiper-slide{
    opacity: 1 !important;
    transform-origin: right center !important;
    }
.myswiper-avatar .swiper-slide-active~.swiper-slide{
opacity: 1 !important;
transform-origin: left center !important;
} 
.image-avatar, .image-avatar *{
    user-select: none;
}
.top-slider{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    user-select: none;
    z-index: 20;
    overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;
     margin-top: 4px;
     min-height: 40px;
}
.top-slider.active-sl~.product-photos{
    min-height: 256px !important;
    margin-top: 5px;
}
.top-slider *{
    user-select: none;
}
.top-slider::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }
  .top-slider-element{
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
    margin-left: 2px;
    min-width: 30px;
    height: 40px;
    border-radius: 8px;
  }
  .top-slider-element img{
    border-radius: 8px;
    max-height: 40px;
  }
  .top-slider-element svg, .top-slider-element .inset-shadow-color{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    box-shadow: inset 0px 3px 6px hsla(0, 0%, 100%, 0.5);
    z-index: 10;
  }
  .top-slider.active {
   
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
  .products-colors-slider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .slider-test{
    width: 175px;
    height: 35px;
    position: fixed;
    bottom: 40px;
    left: 30px;
    display: flex;
    align-items: center;
  }
  .slider-test .w-35{
    min-width: 35px !important;
    min-height: 35px !important;
    max-width: 35px !important;
    max-height: 35px !important;
}
.slider-test .w-30{
    min-width: 30px !important;
    min-height: 30px !important;
    max-width: 30px !important;
    max-height: 30px !important;
}
.slider-test .w-25{
    min-width: 25px !important;
    min-height: 25px !important;
    max-width: 25px !important;
    max-height: 25px !important;
}
.slider-test .w-20{
    min-width: 20px !important;
    min-height: 20px !important;
    max-width: 20px !important;
    max-height: 20px !important;
}
.slider-test .w-15{
    min-width: 15px !important;
    min-height: 15px !important;
    max-width: 15px !important;
    max-height: 15px !important;
}
.avatar-slider .swiper-slide{
    width: auto;
    opacity: 1;
    height: auto;
}
.product-container-slider .swiper-wrapper .swiper-slide {
    height: 290px;

}
.product-container-slider.selected-color .swiper-wrapper .swiper-slide {
    height: 246px;

}
.product-photos, .product-body, .product-footer{
    z-index: 2;
}
.active-slider{
  
    position: absolute;
    width: 100%;
    height: 100%;
}
.sl-active{
opacity: 1;
z-index: 5;
}
.sl-deactive{
    opacity: 0;
    z-index: 3;
}
.color-swiper .swiper-slide{
    opacity: 0 !important;
}
.color-swiper .swiper-slide-active, .color-swiper .swiper-slide.swiper-slide-prev, .color-swiper .swiper-slide.swiper-slide-next{
    opacity: 1 !important;
}
.listing-container{
display: flex;
flex-wrap: wrap;
background-color: #F4F4F4;
display: flex;
justify-content: space-around;
min-width: 100vw;
min-height: 100vh;
}
g#PNORSSM823IY-BE29_view2 rect {
    width: calc(100% - 0.5px);
    height: calc(100% - 0.5px);
}
.get-next-product {
    color: #3C3C3C;
    font-family: 'quicksand';
    font-size: 17px;
    padding: 15px;
}